$effectDuration: 0.3s;
$accent: #f86800;
$secondary-accent: #476df4;
$primary: #0f0f11;
$secondary: #89939a;
$icons: #b4bdc3;
$elements: #e2e6e9;
$white: #fff;
$green: #27ae60;
$red: #eb5757;
$bg: #fafbfc;
$shadow: #17203166;
$dark-shadow: #0000001a;
$links-active: #313237;
